* {
    padding: 0px;
    margin: 0px;
    font-family: Montserrat;
}

.nodeco {
    text-decoration: none;
}

#DivMere {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

#barnavigation {
    display: flex;
    justify-items: center;
    width: 100%;
}

.LiensNav {
    font-weight: bold;
    font-size: xx-large;
    color: black;

}

.ContainerLiens {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    gap: 25px;
    width: 100%;
}

.DivGalery {

    flex-direction: column;
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TxtGalery {
    font-size: 6rem;
    font-weight: bolder;
}

.soulignement {
    width: 45%;
    height: 50px;
    border-top-color: black;
    border-top-style: solid;
    opacity: 50%;
    position: relative;
    top: 30px;
}

.we {
    text-align: center;
    position: relative;
    top: 30px;
    width: 65%;
}

.SectionImages {
    position: relative;
    top: 200px;
    width: 90%;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.DivImages {
    height: 240px;
    width: 240px;
}

.im {
    width: 100%;
    height: 100%;
}

.SectionTexte {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 300px;
    gap: 80px;
    margin: 60px;
    justify-content: center;
}

.DivTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;

}

.titre {
    text-align: center;
    font-size: 2.2rem;
}

.texte {
    text-align: center;
    line-height: 30px;
}

.SectionDesigner {
    position: relative;
    display: flex;
    justify-content: center;
    top: 380px;

    width: 100%;
    height: fit-content;
    background-color: rgba(43, 38, 38, 0.406);
}

.DivBlanche {
    position: relative;
    margin-top: 90px;
    margin-bottom: 80px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.ImgDesigner {
    border-radius: 100%;
    width: 260px;
    height: 260px;
    position: relative;
    bottom: 160px;

    border-style: solid;
    border-width: 20px;
    border-color: white;
}

.Position {
    font-size: 20px;
    position: relative;
    bottom: 164px;
    word-wrap: normal;

}

.titre2 {
    text-align: center;
    font-size: 2.7rem;
}

.texte2 {
    text-align: center;
    line-height: 27px;
    text-justify: auto;
    font-size: 20px;
    position: relative;
    bottom: 130px;

}

.pourcnt {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    min-width: 200px;
    height: 60px;
    border-radius: 35px;
    position: relative;
    bottom: 50px;
    background-color: rgb(249, 121, 2);
}


.TxtBouton {
    font-weight: bold;
    color: black;
}

.Orange {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 480px;
    width: 100%;
    height: fit-content;
    background-color: rgb(249, 121, 2);
}

.txt {
    padding-bottom: 200px;
    background-size: contain;
    font-size: 25px;
    color: white;
    width: 85%;
    text-align: center;
    line-height: 52px;
    position: relative;
    top: 50px;
}

.Team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    position: relative;
    z-index: 2;
    width: 100%;
    height: fit-content;
    bottom: -325px;
    /* border-style: dashed;
    border-color: aqua; */
}

.MiniContenair {
    margin: 25px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 22%;
}

.photos {
    width: 180px;
    height: 180px;
}

.nom {
    font-weight: bold;
    position: relative;
    top: 18px;
    font-size: 25px;
    width: 185px;
}

.role {
    position: relative;
    font-size: 18px;
    top: 25px;

}

.descrtptn {
    position: relative;
    top: 45px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.IdeaSection {
    position: relative;
    bottom: -400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    height: 500px;
    width: 100%;
}

.PourIdeaTxt {
    /* background-color: rgba(0, 0, 255, 0.394); */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ImIdeas {
    width: 100%;
    height: 100%;
}

.Ideas {
    color: white;
    position: relative;
font-size: 2rem;
font-weight: bold;
}

.texteIdeas {
    position: relative;
    top: 15px;
    color: white;
    font-weight: 650;
    text-align: center;
    line-height: 27px;
    width: 55%;
}

/* PAS FINI */

/* .TouchCarousel{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 225px;
    width: 99%;
    height: 50px;
    border-style: dashed;
    border-color: brown;
}  */
.TaillCarousel {
    height: 30px;
    width: 80px;
    margin: 0px;
    padding: 0px;
}

.TcheGch {
    position: absolute;
    left: -10px;
    bottom: 220px;
}

.TcheDrte {
    margin-right: -10px;
    padding-right: -10px;
    position: relative;
    right: -628px;
    bottom: 50px;
}

.Desordre {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    border-style: dashed;
    border-color: black;
    position: relative;
    top: 500px;
}

.prj {
    display: list-item;
    flex-wrap: wrap;
    padding: 100px;
    width: 100%;
    height: fit-content;
    position: relative;
    top: 500px;
    /* background-color: aqua; */
}

.im1 {
    /* display: flex;
    flex-direction: row;
    -ms-flex-direction: row; */
    /* right: 30px;
    top: 490px; */
    padding-left: 40px;
    position: relative;
    top: 20px;
    width: 380px;
    height: 380px;
}

.im2 {
    position: relative;

    /* left: 80px;
    top: 530px; */
    left: 180px;
    bottom: 20px;
    width: 480px;
    height: 300px;
}

.im3 {
    position: relative;
   left: 400px;
    bottom: 280px;
    width: 350px;
    height: 220px;
}

.im4 {

    position: relative;
    /* left: 570px;
    top: 500px; */
    left: 400px;
    width: 400px;
    height: 530px;
}

.Prjet {
    position: relative;
    bottom: 200px;
    color: black;
    font-weight: bold;
    font-size: 7.5rem;
}

/* PAS FINI */


.Divicones {
    position: relative;
    top: 600px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.imIc {
    margin-left: 70px;
    margin-right: 70px;
    height: 120px;
    width: 120px;
}

.DivTxT {
    position: relative;
    top: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.TxT {
    margin: 20px;
    text-align: center;
    width: 80%;
}

.OrangeBas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 760px;
    position: relative;
    top: 800px;
    background-color: rgb(249, 121, 2);
}

.Lfrm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.form {

    position: relative;
    top: 20px;
    width: 50%;
    height: 600px;
    border-radius: 20px;
    background-color: white;
}

::placeholder {
    color: black;
    padding-left: 25px;
}

.Titre {
    position: relative;
    font-size: 18px;
}

.DivZne {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Zone {
    margin: 0px;
    /* padding-left: 15px; */
    border-style: solid;
    border-width: 0.1px;
    border-color: black;
    border-radius: 30px;
    width: 100%;
    height: 32px;
    background-color: rgba(177, 161, 161, 0.875);
}

#Mess {

    /* padding: 15px; */
    background-color: rgba(177, 161, 161, 0.875);
    border-radius: 15px;
}

.txtarea {
    width: 100%;
}

.SubPosi {
    position: relative;
    top: 100px;
    height: 50px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 450px;
    position: relative;
    top: 800px;
    background-color: rgb(28, 26, 26);
}

.PBlanc {
    position: relative;
    top: 110px;
    color: white;
    width: 50%;
    text-align: center;
}
.ntrlien{
    color: white ;
}

.Dernier {
    position: absolute;
    display: flex;
    width: fit-content;
color: white;
    bottom: 10px;
    gap: 10px;
}